---
import Section from "./Section.astro";
import ExperienceCard from "./ExperienceCard.astro";
import type { ExperienceProps } from "@types";

interface Props {
  experiences: ExperienceProps[];
}

// Use destructuring here:
const { experiences } = Astro.props;
---

<Section text="Work Experience" href="experience">
  {
    experiences.map((experience: ExperienceProps) => (
      <ExperienceCard experience={experience} />
    ))
  }
</Section>